<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find franka_gazebo)/urdf/materials.xacro" />

  <xacro:macro name="panda_arm_gazebo_ros2_control" params="ns hand:='false'">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find franka_gazebo)/config/franka_controllers.yaml</parameters>
      </plugin>
    </gazebo>
 
    <!-- Links -->
    <xacro:macro name="configure_link" params="link_name">
    <gazebo reference="${link_name}">
      <material>Gazebo/White</material>
      <selfCollide>False</selfCollide>
    </gazebo>
    </xacro:macro>
 
    <xacro:configure_link link_name="${ns}_link0"/>
    <xacro:configure_link link_name="${ns}_link1"/>
    <xacro:configure_link link_name="${ns}_link2"/>
    <xacro:configure_link link_name="${ns}_link3"/>
    <xacro:configure_link link_name="${ns}_link4"/>
    <xacro:configure_link link_name="${ns}_link5"/>
    <xacro:configure_link link_name="${ns}_link6"/>
    <xacro:configure_link link_name="${ns}_link7"/>
    <!--xacro:configure_link link_name="${ns}_link8"/-->
    
    <xacro:macro name="configure_joint_ref" params="joint_name">
    <gazebo reference="${joint_name}">
      <implicitSpringDamper>True</implicitSpringDamper>
    </gazebo>
    </xacro:macro>
      
    <xacro:configure_joint_ref joint_name="${ns}_joint1"/>
    <xacro:configure_joint_ref joint_name="${ns}_joint2"/>
    <xacro:configure_joint_ref joint_name="${ns}_joint3"/>
    <xacro:configure_joint_ref joint_name="${ns}_joint4"/>
    <xacro:configure_joint_ref joint_name="${ns}_joint5"/>
    <xacro:configure_joint_ref joint_name="${ns}_joint6"/>
    <xacro:configure_joint_ref joint_name="${ns}_joint7"/>

    <xacro:if value="${hand == 'true'}">
    <xacro:configure_link link_name="${ns}_link6"/>
      <xacro:configure_link link_name="${ns}_hand"/>
      <xacro:configure_link link_name="${ns}_hand_tcp"/>
      <xacro:configure_link link_name="${ns}_leftfinger"/>
      <xacro:configure_link link_name="${ns}_rightfinger"/>
      <xacro:configure_joint_ref joint_name="${ns}_finger_joint1"/>
      <xacro:configure_joint_ref joint_name="${ns}_finger_joint2"/>
    </xacro:if>

    <ros2_control name="FrankaHardwareInterface" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <xacro:macro name="configure_joint" params="joint_name initial_position min_vel max_vel">
        <joint name="${joint_name}">
          <!--param name="initial_position">${initial_position}</param-->
          <command_interface name="position"/>
          <command_interface name="velocity">
            <param name="min">${min_vel}</param>
            <param name="max">${max_vel}</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
      </xacro:macro>

      <xacro:configure_joint joint_name="${ns}_joint1" initial_position="0.0" min_vel="-2.175" max_vel="2.175"/>
      <xacro:configure_joint joint_name="${ns}_joint2" initial_position="${-pi/4}" min_vel="-2.175" max_vel="2.175"/>
      <xacro:configure_joint joint_name="${ns}_joint3" initial_position="0.0" min_vel="-2.175" max_vel="2.175"/>
      <xacro:configure_joint joint_name="${ns}_joint4" initial_position="${-3*pi/4}" min_vel="-2.175" max_vel="2.175"/>
      <xacro:configure_joint joint_name="${ns}_joint5" initial_position="0.0" min_vel="-2.6" max_vel="2.6"/>
      <xacro:configure_joint joint_name="${ns}_joint6" initial_position="${pi/2}" min_vel="-2.6" max_vel="2.6"/>
      <xacro:configure_joint joint_name="${ns}_joint7" initial_position="${pi/4}" min_vel="-2.6" max_vel="2.6"/>
    
      <xacro:if value="${hand == 'true'}">
        <xacro:configure_joint joint_name="${ns}_finger_joint1" initial_position="0.0"/>
        <xacro:configure_joint joint_name="${ns}_finger_joint2" initial_position="0.0"/>
      </xacro:if>

    </ros2_control>
  </xacro:macro>
</robot>
